.jumbotron
{
  color: white;
  background: url('eventbackground.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

body
{
	
	background-color: #aaaaaa;
	color: white;
}

.img-fluid
{
	width: 100%;
	padding: 15px 0px;
}



