.jumbotron
{
  color: black;
  background: url('titanic.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 600px;
}

body
{
	background-color: #aaaaaa;
	color: white;
}