<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
	
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	<!-- Custom Styles  -->

<title th:text="${pageTitle}">index</title>
</head>

<body>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link active" href="/index">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/artist">Artist</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/song">Song</a>
    </li>
  </ul>
</nav>
<div class="jumbotron text-center">

<h1>artist Page</h1>
<h2></h2>
<br />

</div>


<div class="container">

<p>This site will contain information about Artists </p>
<table class="table table-striped">
	<thead>
		<tr>
		<th>position</th>
		<th>name</th>
		<th>song</th>
		<th>genre</th>
		<th>picture</th>
		</tr>
	</thead>
	
	<tbody>
		<tr th:each="artist: ${topArtists}">
			<td th:text="${artist.position}"></td>
			<td th:text="${artist.artistName}"></td>
			<td th:text="${artist.song}"></td>
			<td th:text="${artist.genre}"></td>
			<td><img src="../static/images/postmalone.png" th:src="@{/images/} + ${artist.image}"></img> </td>
		</tr>
	</tbody>
</table>
</div>

</body>
</html>