<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
	
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	<!-- Custom Styles  -->

<title th:text="${pageTitle}">index</title>
</head>

<body>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
  
  	<li class="nav-item">
      <a class="nav-link" href="/login">login</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/index">To-Do List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/completed">Completed</a>
    </li>
    
  </ul>
</nav>
<div class="jumbotron text-center" >

<h1>To-Do List</h1>
<h2></h2>
<br />

</div>


<div class="container">

<p>This is a To-Do List </p>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Status</th>
			<th>Priority</th>
			<th>Name</th>
			<th>Description</th>
			<th>Deadline</th>
			<th>Date Created</th>
			<th>Owner</th>
			<th></th>
			<th>Options</th>
			<th></th>
		</tr>
	</thead>
	
	<tbody>
		<tr th:each="task: ${todoList}">
			<td><input type="checkbox"  th:checked="${task.status}" /></td>
			<td th:text="${task.priority}"></td>
			<td th:text="${task.name}"></td>
			<td th:text="${task.description}"></td>
			<td th:text="${task.deadline}"></td>
			<td th:text="${task.dateCreated}"></td>
			<td th:text="${task.owner}"></td>
			<td>
			<button class="btn btn-primary" type="submit" 
					data-toggle="tooltip" data-placement="left" 
					title="View This task">View</button>
			</td>
			<td><button class="btn btn-primary" type="submit" 
					data-toggle="tooltip" data-placement="left" 
					title="Edit This task">Edit</button></td>
			<td><button class="btn btn-primary" type="submit" 
					data-toggle="tooltip" data-placement="left" 
					title="Delete This task">Delete</button></td>
			
			
		</tr>
	</tbody>
</table>
</div>

</body>
</html>
